@font-face {
  font-family: "urwdin-regular";
  font-style: normal;
  src: local("urwdin-regular-webfont"), local("urwdin-regular-webfont"),
    url("../assets/urwdin-regular-webfont.woff") format("woff");
}

@mixin button($bg, $cl) {
  font-family: "urwdin-regular";
  background: $bg;
  color: $cl;
  height: 3%;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.btn,
button {
  @include button(transparent, #545454);
  font-size: 1.2em;
  margin: 2% 3% 0 auto;
  border: 2px solid #545454;
}

.app {
  font-family: "urwdin-regular";
  padding: 3%;
  header {
    margin-bottom: 30px;
    p {
      margin-top: auto;
      padding-bottom: 10px;
    }
  }
  .signup-login {
    padding-left: 3%;
  }
  .img-container {
    display: flex;
    // position: fixed;
    width: 100%;
    top: 0;
    img {
      width: 15%;
    }
    #bespoke-logo {
      padding: 0;
      margin-left: auto;
      padding-right: 3%;
    }
    #fekkai-logo {
      margin-left: 0;
      padding: 0;
      width: 20%;
      height: 100%;
    }
  }
  #logout-approve-btn {
    align-items: center;
    display: flex;
    padding-right: 3%;
    div {
      margin-left: auto;
    }
  }
  #welcome {
    font-size: 26px;
  }
}

.form {
  width: 60%;
  margin: 0 auto;
  input {
    font-size: 75px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    display: block;
    width: 100%;
  }
  label {
    font-size: 75px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    margin-bottom: 30px;
  }
}

//mobile

// .App {
//   width: 1028px;
//   margin: 0 auto;
//   .fekkai-logo {
//     display: block;
//     width: 80%;
//     margin: 0 auto;
//     margin-top: 20px;
//   }
//   nav {

//     display: flex;
//     justify-content: space-between;
//     font-weight: bold;
//     // font-size: 40px;
//     .nav {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//     }
//     .nav-links {
//       font-size: 50px;
//       color: black;
//       ul {
//         list-style: none;
//         padding-left: 0;
//       }
//     }
//   }
// }

//desktop
// @media only screen and (min-width: 1025px) {
//   .App {
//     width: 100%;
//     margin: 0 auto;
//     .img-container {
//       padding-top: 20px;
//       margin: 0 auto;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       width: 50%;
//       .img {
//         margin: 0 auto;
//         margin-top: 20px;
//       }
//     }
//     nav {
//       width: 50%;
//       margin: 0 auto;
//       display: flex;
//       font-weight: bold;
//       padding: 20px;

//       .nav-links-signed-in {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         div {
//           font-size: 20px;
//           color: red;
//         }
//       }
//     }
//   }

//   .form {
//     width: 30%;
//     margin: 0 auto;

//     input {
//       font-size: 25px;
//       margin-bottom: 10px;
//       margin-top: 5px;
//       border-radius: 3px;
//       padding: 5px;
//       display: block;
//       width: 100%;
//     }
//     button {
//       font-size: 25px;
//       margin-top: 10px;
//       padding: 10px;
//       border-radius: 5%;
//     }
//   }
//   .content {
//     width: 50%;
//     margin: 0 auto;
//   }
//   .home {
//     width: 50%;
//     margin: 0 auto;
//   }
// }
