@font-face {
  font-family: "urwdin-regular";
  font-style: normal;
  src: local("urwdin-regular-webfont"), local("urwdin-regular-webfont"), url("../assets/urwdin-regular-webfont.woff") format("woff");
}

.btn,
button {
  font-family: "urwdin-regular";
  background: transparent;
  color: #545454;
  height: 3%;
  font-size: 1.2em;
  margin: 2% 3% 0 auto;
  border: 2px solid #545454;
}

.btn:hover,
button:hover {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:active,
button:active {
  background: rgba(0, 0, 0, 0);
}

.app {
  font-family: "urwdin-regular";
  padding: 3%;
}

.app .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .img-container img {
  width: 20%;
}

.app .img-container #bespoke-logo {
  padding: 0;
  margin-left: auto;
  padding-right: 3%;
}

.app .img-container #fekkai-logo {
  margin-left: 0;
  padding-left: 3%;
}

.app #logout-approve-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3%;
}

.app #logout-approve-btn div {
  margin-left: auto;
}

.app #welcome {
  font-size: 26px;
}

.form {
  width: 60%;
  margin: 0 auto;
}

.form input {
  font-size: 75px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
  display: block;
  width: 100%;
}

.form label {
  font-size: 75px;
}

.form label {
  font-size: 20px;
}

.signup-login {
  padding-left: 3%;
}

.order:hover {
  background: #e8e8e8;
}

li {
  padding: 2px 2px 2px 2px;
}

.order-info {
  font-family: "urwdin-regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-info .header {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-info .header .header-subcontainer span {
  margin: 50px 0;
}

.order-info .header .header-subcontainer img {
  width: 60%;
}

.order-info .header .btn {
  font-family: "urwdin-regular";
  background: transparent;
  color: #545454;
  height: 3%;
  font-size: 1.2em;
  margin: 2% 3% 0 auto;
  border: 2px solid #545454;
}

.order-info .header .btn:hover {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.order-info .header .btn:active {
  background: rgba(0, 0, 0, 0);
}

.tab-list {
  border-bottom: 1px solid #444444;
  padding-left: 0;
  font-size: 25px;
  background: #444444;
  color: white;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-collapse: collapse;
}

th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ddd;
  width: 60%;
  /* padding: 10px; */
  color: #888888;
  background-color: white;
  font-size: 15px;
  margin-top: 5px;
}

tr {
  border: 1px solid #ddd;
  color: #000000;
  background: white;
  text-align: left;
  width: 100%;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.MuiButton-label {
  font-size: 15px;
}

h2 {
  font-weight: 600;
}
/*# sourceMappingURL=App.css.map */