.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0.7;
  text-align: left;
  padding: 20px;
}
