@font-face {
  font-family: "urwdin-regular";
  font-style: normal;
  src: local("urwdin-regular-webfont"), local("urwdin-regular-webfont"),
    url("../assets/urwdin-regular-webfont.woff") format("woff");
}

@mixin button($bg, $cl) {
  font-family: "urwdin-regular";
  background: $bg;
  color: $cl;
  height: 3%;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

button {
  @include button(transparent, #545454);
  font-size: 1.2em;
  margin: 2% 3% 0 auto;
  border: 2px solid #545454;
}

#list-view-btn {
  margin: 0;
}

.dashboard {
  .table {
    label {
      font-size: 18px;
      margin: 15px 10px 15px 10px;
      textarea:focus,
      input:focus {
        outline: none;
      }
      input {
        border: none;
        border-bottom: 1px solid black;
        width: 25%;
        font-size: 18px;
      }
    }
  }
}

.table {
  label {
    margin: 10px;
    textarea:focus,
    input {
      border-bottom: 1px solid black;
    }
    input:focus {
      outline: none;
    }
  }
  .list-header,
  .row {
    color: #000000;
    display: flex;
    font-size: 16px;
    div {
      flex: 1;
      padding: 0.2rem 0.4em;
      border: 1px solid rgb(84, 84, 84);
    }
  }
  .list-header {
    margin-top: 20px;
    color: white;
    background-color: rgb(84, 84, 84);
    text-align: center;
    div {
      cursor: pointer;
    }
    span {
      font-size: 11px;
    }
  }
}
//ipad

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .table {
    font-family: "urwdin-regular";
    margin: 1em;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    // opacity: 0;
    -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.8s; /* Firefox < 16 */
    -ms-animation: fadein 0.8s; /* Internet Explorer */
    -o-animation: fadein 0.8s; /* Opera < 12.1 */
    animation: fadein 0.8s;
    label {
      margin: 10px;
      textarea:focus,
      input {
        border-bottom: 1px solid black;
      }
      input:focus {
        outline: none;
      }
    }
    .list-header,
    .row {
      color: #000000;
      display: flex;
      font-size: 16px;
      div {
        flex: 1;
        padding: 0.2rem 0.4em;
        border: 1px solid rgb(84, 84, 84);
      }
    }
    .list-header {
      color: white;
      background-color: rgb(84, 84, 84);
      text-align: center;
      div {
        cursor: pointer;
      }
      span {
        font-size: 11px;
      }
    }
    .body {
      padding: 20px 0;
    }
  }
}

// fade animation keyframes
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel .slider-wrapper.axis-horizontal .slider .slide .selected {
  padding: none;
}

.stylist-panel-customer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  margin-top: 5px;
  padding: 5px;
  .column-title {
    text-align: center;
    background: #545454;
    color: white;
  }
  .info-container-1 {
    display: grid;
    padding: 10px 4%;
    grid-template-rows: 1fr 0.5fr;
    span {
      display: inline-block;
      height: 100%;
    }
  }
  .info-container-2 {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .info-container {
    display: grid;
    row-gap: 10px;
    padding: 10px;
    text-align: left;
    // background: #f1f1f1;
    color: #000000;
  }

  .selfie-container {
    display: flex;
    align-items: center;
    // flex-direction: column;
    padding: 0;
    width: 400px;
    background: black;
  }
}
.section {
  text-align: center;
  grid-gap: 0;
  border: 0.5px solid black;
}

.dashboard {
  font-size: 15px;
  /* margin: 0 auto; */
  width: 100%;
  // padding-bottom: 3%;
  height: 100%;
}

.section-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid grey;
}

h3,
p {
  text-align: center;
}

img {
  width: 100%;
  /* height: 45%; */
  padding: 15px;
}

.section-subcontainer {
  width: 25%;
}
.skeleton-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}
.column-skeleton-fragrance {
  width: 20%;
  margin-top: 5px;
}
.column {
  width: 66.6%;
  margin: 5px 0 5px 0;
  text-align: center;
  overflow: auto;
}

.column:hover {
  background-color: #ddd;
}

.column-name {
  /* display: flex; */
  /* width: 100%; */
  background: lightgrey;
  margin: 0;
  padding: 7px;
}

.sub-header {
  font-size: 14px;
}

select {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.list {
  list-style: none;
  padding-left: 0;
}

li {
  padding-left: 10px;
}
.box {
  display: flex;
  justify-content: center;
}

.box:hover {
  background-color: #ddd;
}

.box select {
  margin: 0 auto;
  background-color: #444444;
  margin: 4px;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}
.btn-container {
  padding-left: 5px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
