@font-face {
  font-family: "urwdin-regular";
  font-style: normal;
  src: local("urwdin-regular-webfont"), local("urwdin-regular-webfont"), url("../assets/urwdin-regular-webfont.woff") format("woff");
}

button {
  font-family: "urwdin-regular";
  background: transparent;
  color: #545454;
  height: 3%;
  font-size: 1.2em;
  margin: 2% 3% 0 auto;
  border: 2px solid #545454;
}

button:hover {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:active {
  background: rgba(0, 0, 0, 0);
}

.dashboard .table label {
  margin: 10px;
}

.dashboard .table label textarea:focus,
.dashboard .table label input:focus {
  outline: none;
}

.dashboard .table label input {
  border: none;
  border-bottom: 1px solid black;
  width: 25%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .table {
    font-family: "urwdin-regular";
    margin: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    -webkit-animation: fadein 0.8s;
    /* Safari, Chrome and Opera > 12.1 */
    /* Firefox < 16 */
    /* Internet Explorer */
    /* Opera < 12.1 */
    animation: fadein 0.8s;
  }
  .table label {
    margin: 10px;
  }
  .table label textarea:focus,
  .table label input {
    border-bottom: 1px solid black;
  }
  .table label input:focus {
    outline: none;
  }
  .table .list-header,
  .table .row {
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
  }
  .table .list-header div,
  .table .row div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0.2rem 0.4em;
    border: 1px solid #545454;
  }
  .table .list-header {
    color: white;
    background-color: #545454;
  }
  .table .list-header div {
    cursor: pointer;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

.carousel .slider-wrapper.axis-horizontal .slider .slide .selected {
  padding: none;
}

.stylist-panel-customer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  margin-top: 5px;
}

.stylist-panel-customer .column-title {
  text-align: center;
  background: #545454;
  color: white;
}

.stylist-panel-customer .info-container-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
}

.stylist-panel-customer .info-container {
  row-gap: 10px;
  padding: 10px;
  text-align: left;
  background: #efefef;
  color: #000000;
  display: -ms-grid;
  display: grid;
}

.stylist-panel-customer .selfie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 400px;
  background: black;
}

.section {
  text-align: center;
  grid-gap: 0;
  border: 0.5px solid black;
}

.dashboard {
  font-size: 15px;
  /* margin: 0 auto; */
  width: 100%;
  padding-bottom: 3%;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid grey;
}

h3,
p {
  text-align: center;
}

img {
  width: 100%;
  /* height: 45%; */
  padding: 15px;
}

.section-subcontainer {
  width: 25%;
}

.skeleton-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.skeleton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.column-skeleton-fragrance {
  width: 20%;
  margin-top: 5px;
}

.column {
  width: 66.6%;
  margin: 5px 0 5px 0;
  text-align: center;
  overflow: auto;
}

.column:hover {
  background-color: #ddd;
}

.column-name {
  /* display: flex; */
  /* width: 100%; */
  background: lightgrey;
  margin: 0;
  padding: 7px;
}

.sub-header {
  font-size: 14px;
}

select {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.list {
  list-style: none;
  padding-left: 0;
}

li {
  padding-left: 10px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box:hover {
  background-color: #ddd;
}

.box select {
  margin: 0 auto;
  background-color: #444444;
  margin: 4px;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}

.btn-container {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
/*# sourceMappingURL=Panel.css.map */