.MuiCardContent-root {
  padding: 0;
}
.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  .locale {
    display: flex;
    justify-content: center;
    // font-size: 13px;
    flex: 0.7;
    padding: 0.2rem 0.4em;
  }
  .name {
    display: flex;
    justify-content: center;
    flex: 0.4;
    padding: 0.2rem 0.4em;
  }
  .image {
    display: flex;
    flex: 0.7;
    justify-content: center;
    height: auto;
    padding: 0.2rem 0.4em;

    #modal {
      display: none;
      position: absolute;
      width: 500px;
      height: auto;
    }
    #selfie {
      width: 50%;
      height: 50%;

      // border-radius: 17px;
      display: inline-block;
      padding: 2px;
    }
  }
  .user-attributes {
    text-align: center;
    padding: 0.2rem 0.4em;
    flex: 1;
    line-height: 24px;
  }
}

//ipad landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .locale {
    text-align: center;
    font-size: 11px;
  }
  .name {
    text-align: center;
    font-size: 11px;
  }
  .image {
    display: inline-block;
    display: flex;
    flex: 0.7;
    justify-content: center;
    height: auto;
  }
  .user-attributes {
    font-size: 11px;
    div {
      font-size: 11px;
    }
  }
}

//ipad portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .card-content {
    font-size: 11px;
    .locale {
      font-size: 9px;
      text-align: center;
    }
    .name {
      font-size: 11px;
      text-align: center;
    }
    .image {
      font-size: 11px;
    }
  }
  #selfie {
    width: 50%;
    height: 50%;
    // border-radius: 17px;
    display: inline-block;
  }
  .user-attributes {
    font-size: 11px;
    div {
      font-size: 11px;
    }
  }
}

// iphone x portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .card-content {
    display: flex;
    flex-direction: column;
    .image {
      #selfie {
        width: 90%;
      }
    }
    .user-attributes {
      // display: none;
    }
  }
}

// iphone x landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .card-content {
    .locale {
      font-size: 9px;
    }
  }
}


// iphone 6, 7, & 8 portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .card-content {
    display: flex;
    flex-direction: column;
    .image {
      #selfie {
        width: 90%;
      }
    }
  
  }
}

// iphone 6, 7, & 8 landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .card-content {
    .locale {
      font-size: 9px;
    }
  }
}
